@media screen and (max-width: 576px){

    .hamburger-icon {
        display: block;
    }

    .nav {
        flex-direction: row;
        /* padding: 0 20px; */
    }
     
    .nav div > ul {
        display: none;
    }

    .banner,
    .run-container {
        flex-direction: column;
        gap: 50px; 
    } 

    .video-tutorial {
        bottom: 42%;
        left: 0%; 
    }

    .workout-videos {
        top: 5%;
        right: -10%;
        
    }

    .habit-card-container,
    .team-container {
        gap: 50px;
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
    }
}